@{
    ViewBag.Title = "HitMiss";
}

@model ArghyaC.ViewModels.HmGameViewModel

<h4>There is a <abbr title="Like 4792, 0148 etc.">number</abbr> for you. 4 digit, no repetition. Try to guess it.</h4>
<p class="bg-info">
    Each guess result contains - 
    <kbd>[<abbr title="e.g. Secret = 2017, Guess = 1037 => Hit = 2">Hit</abbr>]</kbd>: correct digit(s), correct position | 
    <kbd>[<abbr title="e.g. Secret = 2017, Guess = 1037 => Found = 1">Found</abbr>]</kbd>: correct digit(s); wrong position | 
    <kbd>[Re-Hit]</kbd>: had hit same digit(s) before!</p>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    if (Model.GameState != ArghyaC.ViewModels.GameState.GameOn)
    {
        <span class="bg-warning"><strong>@Html.Raw(Model.GameState == ArghyaC.ViewModels.GameState.GaveUp ? "You lost!!" : "Yay! You won!!")</strong></span>
        <h4 style="color:#65C74A;display:inline;">Answer : @Model.Answer</h4> <br /><br/>
    }
    else
    {
        <h4>The number is _ _ _ _ <small>&nbsp;(repititions are allowed in guess-number e.g. 0250)</small></h4>
        <hr />
    }

    if (Model.GameState == ArghyaC.ViewModels.GameState.GameOn)
    {
        <div class="form-horizontal">
        
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*<div class="form-group">
                @Html.LabelFor(model => model.First().Entry, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.First().Entry, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.First().Entry, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <div class="form-group">
                <label class="control-label col-md-2" for="Entry">Guess</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Entry must be a number."
                           data-val-required="The Entry field is required." id="entry" name="entry" type="number" min="0" max="9999" maxlength="4" autofocus>
                    <span class="field-validation-valid text-danger" data-valmsg-for="Entry" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Try &raquo;" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
}

@if (Model.Results.Count >= 5 && Model.GameState == ArghyaC.ViewModels.GameState.GameOn)
{
    using (Html.BeginForm("GiveUp", "HitMissGame"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Give up?" class="btn btn-warning" />
                </div>
            </div>
        </div>
    }
}

<table class="table">
    <tr>
        <th>
            Tries
        </th>
        <th>
            Guess
        </th>
        <th>
            Hit
        </th>
        <th>
            Found
        </th>
        <th>
            Re-Hit
        </th>        
    </tr>
@{int k = 0;}
@foreach (var item in Model.Results)
{
    <tr>
        <td>
            <text>@(++k)</text>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Entry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Almost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepeatHit)
        </td>
    </tr>
}
</table>
@if (Model.GameState != ArghyaC.ViewModels.GameState.GameOn)
{
    using (Html.BeginForm("NewGame", "HitMissGame"))
    {
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="New Game" class="btn btn-info btn-xs" style="float:right;" />
                </div>
            </div>
        </div>
    }
}
@*<a class="btn btn-info btn-xs" href="/HitMissGame/NewGame" style="float:right;">New Game</a>*@
